#orderItemIndex {
	@media (max-width: 991px) {
		-webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
	}
}