@import "bootstrap";
@import "bootstrap.min";
@import "pdf";
@import "sessions";
@import 'admin/cloths';
@import 'admin/order_items';
body, html {
	font-family: 'Noto Sans TC', sans-serif;
}
.turbolinks-progress-bar {
  height: 3px;
  background-color: #56CC9D;
}
@include media-breakpoint-up(xl) {
  .container {
    max-width: 1300px;
  }
}
.list-group-item {
	@extend .px-0;
}
.better-spacing {
	letter-spacing: 2px;
}
@import 'admin/dashboard';
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: calc(2.25rem) !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 1.5 !important;
	height: calc(2.25rem + 2px) !important;
	padding: 0.375rem calc(0.75rem + 3px) !important;
	margin: 0px 1px;
}
.select2-container .select2-selection--single {
	border: 1px solid #ced4da !important;
	height: calc(2.25rem + 2px) !important;
}