@import "bootstrap";
@import "bootstrap.min";
@import "sessions";
@import 'admin/dashboard';
@import 'admin/cloths';
body, html {
	font-family: 'Noto Sans TC', sans-serif;
}
.turbolinks-progress-bar {
  height: 3px;
  background-color: #56CC9D;
}
@include media-breakpoint-up(xl) {
  .container {
    max-width: 1300px;
  }
}
.list-group-item {
	@extend .px-0;
}
.better-spacing {
	letter-spacing: 2px;
}