div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear: both; }
div.nobreak { page-break-inside: avoid; }
@media print {
	html {
    font-size: 1.4rem;
  }
  #orderItemIndex {
  	padding-left: 0.5rem;
  	padding-right: 0.5rem;
  }
}