<% if policy([:admin, :user]).index? %>
	<%= link_to admin_users_path(anchor: "user-#{@user.id}"), class: "btn btn-link" do %>
	  &#8592; <%= I18n.t('text.back') %>
	<% end %>
<% end %>
<h1 class="h2">プロフィール</h1>
<div class="row">
  <div class="col-lg-9">
  	<div class="row">
			<%= render @user %>
		</div>
	</div>
</div>